@import '../../bower_components/meetup-swatches/sass/colors';
@import '../../bower_components/sassquatch2/sass/globals';
@import '../../bower_components/sassquatch2/sass/util';

//
// EXTRA-CREDIT: rendering guest count
//
// .avatar--person[data-guest-count] {
// 	@extend %avatarCharm;
// 	display: none;
// 	&:after {
// 		background-color: $C_collectionBGLight;
// 		color: $C_textPrimary;
// 		content: attr(data-guest-count);
// 	}
// }

.stripe--overlap {

	&:before {
		border-bottom: ($space-half+$space) solid white;
		bottom: 0;
		box-sizing: border-box;
		content: '';
		display: block;
		position: absolute;
		width: 100%;
	}

	& + .stripe {
		border: 0 !important;
	}
}

.dateBox {
	box-sizing: border-box;
	border-radius: 3px;
	background: $C_contentBG;
	border: 1px solid $C_border;
	height: $media-l;
	width: $media-l;
	padding: $space-half;
}
